/*Custom Fonts*/

@font-face {
  font-family: Centra;
  src: url('//db.onlinewebfonts.com/c/239a907fbc4c6299e25ac127f7322587?family=Centra+No2+Medium');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2');
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  height: 100%
}

body {
  height: 100%;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}